/****************** Page Hero *******************/
.hero {
	padding: 112px 0;
	margin-right: auto;
	margin-left: auto;
	background-color: var(--primary-color-text);
	background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
		url(../images/hero/hero-sm.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2),
	screen and (-moz-min-device-pixel-ratio: 2),
	screen and (-webkit-min-device-pixel-ratio: 2),
	screen and (min-resolution: 192dpi),
	screen and (min-resolution: 2dppx) {
	.hero {
		background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
			url(../images/hero/hero-sm@2x.jpg);
	}
}
.hero-title {
	max-width: 320px;
	margin: 0 auto var(--mobile-gap);

	font-weight: 700;
	font-size: 36px;
	line-height: 1.11; /* 40/36 */
	letter-spacing: 0.02em;
	color: var(--main-white-color);
}

/****************** Page Advantages *******************/
.advantages-list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: var(--mobile-gap);
}
.advantages-item {
	flex-basis: calc((100% - 216px) / 4);
}
.advantages-title {
	margin-bottom: 8px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11; /* 40/36 */
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--primary-color-text);
}
.advantages-text {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5; /* 24/16 */
	letter-spacing: 0.02em;
	color: var(--secondary-color-text);
}

/****************** Page Technologies *******************/
.technologies {
	display: none;
	padding-top: 0;
}

/****************** Page Team *******************/
.team {
	background-color: var(--text-cloud-color);
}
.team-list {
	text-align: center;
}
.team-item {
	display: inline-block;
}
.team-item:not(:last-child) {
	margin-bottom: var(--mobile-gap);
}
.team-item {
	border-radius: var(--team-radius);
	background-color: var(--main-white-color);
	box-shadow: var(--team-shadow);
}
.team-info {
	padding: 32px 14px;
}
.team-title {
	margin-bottom: 8px;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2; /* 24/20 */
	letter-spacing: 0.02em;
	color: var(--primary-color-text);
}
.team-text {
	margin-bottom: 8px;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5; /* 24/16 */
	letter-spacing: 0.02em;
	color: var(--secondary-color-text);
}
.team-social-list {
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
}
.team-social-item:not(:last-child) {
	margin-right: 24px;
}
.team-social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: var(--iris-color);

	transition: background-color var(--time-function);
}
.team-social-link:hover,
.team-social-link:focus {
	animation: shake 2s linear;
	background-color: var(--ocean-color);
}
@keyframes shake {
	0%,
	50%,
	100% {
		transform: rotate(0deg);
	}

	10%,
	30% {
		transform: rotate(-10deg);
	}

	20%,
	40% {
		transform: rotate(10deg);
	}
}

/****************** Page Customers *******************/
.customers-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.customers-item:not(:last-child) {
	margin-bottom: var(--mobile-gap);
}
@media screen and (min-width: 442px) {
	.customers-item:not(:nth-child(2n)) {
		margin-right: 16px;
	}
}
  @media (min-width:426px) and (max-width: 767.98px) {
    .customers-item:nth-last-child(-n + 2){
      margin-bottom: 0;
    }
  }
.customers-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 198px;
	height: 88px;
	border: 1px solid currentColor;
	border-radius: var(--radius);
	color: var(--slate-color);

	transition: color var(--time-function);
}
.customers-link:hover,
.customers-link:focus {
	color: var(--ocean-color);
}
.customers-icon {
	width: 104px;
	height: 56px;
	fill: currentColor;
}
