@media screen and (min-width: 1200px) {
	.hero {
		padding: 188px 0;
		background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
			url(../../images/hero/hero-fon.jpg);
	}
	@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
		screen and (min-width: 1200px) and (-moz-min-device-pixel-ratio: 2),
		screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
		screen and (min-width: 1200px) and (min-resolution: 192dpi),
		screen and (min-width: 1200px) and (min-resolution: 2dppx) {
		.hero {
			background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
				url(../../images/hero/hero-fon@2x.jpg);
		}
	}
	.hero-title {
		max-width: 585px;
		margin: 0 auto 48px;
	}
}
@media screen and (min-width: 1200px) {
	.advantages-item::before {
		display: block;
		content: "";
		padding: 24px 100px;
		margin-bottom: 8px;
		height: 112px;
		background-repeat: no-repeat;
		background-size: 64px 64px;
		background-position: center center;
		background-color: var(--text-cloud-color);
		border-radius: var(--radius);
	}
	.icon-antenna::before {
		background-image: url(../images/advantages/antenna.svg);
	}
	.icon-clock::before {
		background-image: url(../images/advantages/clock.svg);
	}
	.icon-diagram::before {
		background-image: url(../images/advantages/diagram.svg);
	}
	.icon-astronaut::before {
		background-image: url(../images/advantages/astronaut.svg);
	}
  .advantages-item {
		/* max-width: 264px; */
		/* flex-basis: calc((100% - 24px) / 2); */
	}
}
@media screen and (min-width: 1200px) {
	.technologies {
		display: block;
	}
	.technologies-list {
		display: flex;
		flex-wrap: wrap;
	}
	.technologies-item:not(:last-child),
	.team-item:not(:last-child) {
		margin-right: var(--card-gap);
	}
}
