/* Team */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.team-section .title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-section {
  padding: 94px 0;
  background-color: var(--secondary-text-color);
}
.team .container {
  display: block;
  justify-content: center;
  align-items: center;
}
.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.team-section .group {
  margin: 0;
  margin-right: 30px;
  padding: 0;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-section .group:last-child {
  margin-right: 0;
}
.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--primary-white-color);
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  color: var(--primary-text-color);
}
.team-profession {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}
.team-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.team-social-item {
  margin-right: 10px;
}
.team-social-item:last-child {
  margin-right: 0;
}
.team-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-icon {
  fill: var(--fill-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
}
.team-social-link:hover .team-social-icon,
.team-social-link:focus .team-social-icon {
  fill: var(--primary-white-color);
}
