:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --hero-footer-background: #2f303a;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --border-color: #ececec;
  --secondary-text-color: #f5f4fa;
  --button-background: ##188ce8;
  --logo: #000000;
  --fill-color: #afb1b8;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}
